.work__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.5rem;
}
.work__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.work__item:hover {
    border-color: var(--color-primary);
    background: transparent;
}
.work__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.work__item h3 {
    margin: 1.2rem 0 2rem;
}
.work__item small {
    font-size: 0.8rem;
    color: var(--color-light);
}
/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .work__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .work__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}