.education__container {
    display: "flex";
    align-items: "center";
    grid-template-columns: 35% 50%;
    gap: 15%;

}

.education__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  

}
.education__card {
    background: var(--color-bg-variant);
    border: 3px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
 

}
.education__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.education__icon {
    color: var(--color-white);
    font-size: 1.4rem;
    margin-bottom: 1rem;
   
}
.education__card h5 {
    font-size: 0.95rem;
}

.education__card small {
    font-size: 0.7rem;
    color: var(--color-light);
    
}
.education__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .education__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .education__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .education__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .education__content {
        text-align: center;
    }
    .education__content p {
        margin: 1.5rem 0;
    }

}